.menuMain__content {
	position: fixed;
	height: 100%;
	width: 100vw;
	background-color: rgba(196, 196, 196, 0.5);
	z-index: 30;
	left: 0;
	top: 0px;
}
.menuMain__grid {
	position: absolute;
	background-color: #c4c4c4;
	height: 100%;
	width: 75%;
	left: -75%;
}
