@import '../../index.css';

.carrusel {
	max-height: 200px;
	@apply relative overflow-hidden;
}
.carrusel-slideshow {
	@apply flex flex-nowrap;
}
.carrusel-slideshow__slide {
	min-width: 100%;
	@apply overflow-hidden z-10 h-full;
	/* transition: 0.3s ease all; */
}
.carrusel-slideshow__slide-image {
	@apply h-full;
}
.carrusel-controls {
	@apply absolute top-0 flex h-full w-full pointer-events-none;
	z-index: 20;
}
.carrusel__arrow {
	@apply cursor-pointer h-full outline-none absolute;
	pointer-events: all;
	width: 35px;
	color: rgba(0, 0, 0, 0.4);
}
.carrusel__arrow:active {
	color: #000;
	background: rgba(0, 0, 0, 0.4);
}
.rigth {
	@apply right-0;
}
