.carruselgrid {
	margin: 30px 0;
	overflow: hidden;
}
.carruselgrid__title {
	text-align: center;
	font-size: 19px;
	margin-bottom: 10px;
}
.carruselgrid__slideshow {
	position: relative;
}
.carruselgrid__slideshow-slide {
	display: flex;
	min-width: 100%;
}
.carruselgrid__slideshow-controls {
	display: flex;
	position: absolute;
	pointer-events: none;
	height: 100%;
	width: 100%;
	justify-content: space-between;
	top: 0;
}

.carruselgrid__slideshow-controls-arrow {
	pointer-events: all;
	width: 2rem;
	display: inline-block;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
}
.left {
	visibility: hidden;
}
.card-contenido {
	margin: 5px 10px;
}
