.link {
	width: 12.5rem;
	height: 2.8rem;
	display: flex;
	text-decoration: none;
	color: #fff;
	align-items: center;
	justify-content: center;
	background-color: #929292;
	border-radius: 4px;
	font-weight: 600;
	margin: 3rem auto;
}
